<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Server</h1>
    <button><a style="color:black;text-decoration:none;" href="/login">LogIn </a></button>
    <br/>
    <br/>
    <button><a style="color:black;text-decoration:none;" href="/signUp">SignUp </a></button>
  </body>
</html>