<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="POST">
      <label for="userName">
        UserName :
        <input type="text" name="username" placeholder="Enter Name" required /> </label
      ><br /><br />
      <label for="password">
        Password :
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          required
        /> </label
      ><br /><br />
      <label for="submit">
        <input type="submit" value="Login" required />
      </label>
    </form><br/>
    <a href="/forget">Forget Password</a><br/><br/>
    <a href="/">Back</a>
  </body>
</html>
