<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registeration Page</h1>
    <form action='/register' method="POST">
        <label for="userName">
            UserName : <input type="text" name="username" placeholder="Enter Name" required/>
        </label><br/><br/>
        <label for="email">
            EmailId : <input type="email" name="email" placeholder="Enter Email" required/>
        </label><br/><br/>
        <label for="password">
            Password : <input type="password" name="password" placeholder="Enter Password" required/>
        </label><br/><br/>
        
        <label for="submit">
            <input type="button" value="submit" required/>
        </label>
    </form><br/>
    <a href="/">Back</a>
</body>
</html>